@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins',Verdana;
}
/* .navcolor{
    background-color: black !important;
    color: white !important;
} */
a{
    color: white !important;
}
.btncolor{
    background-color: #4d4dff;
    color: white;
}
span.navbar-toggler-icon {
    color: white;
    margin-top: 8px;
}

